header{
width: 100%;
background-color: #fd1b1b;
}
header img{
    margin-left: 32%;
    width: 35%;
}
header div{
    position: relative;
    margin-top: -7%;
    margin-right: 3%;
}
header div img{

    margin-left: 1%;
    width: 5%;
    display: block;
    float: right;
}
header nav{
    width: 100%;
    float: left;
    margin-top: 7%;
    background: gray;
}
header nav div{
    background-color: gray;
    float: left;
    margin-left: -2%;
    margin-right: -2%;
}
header nav ul li{
    margin-right: 25%;
    height: 100%;
}
header nav ul li a{
    margin-right: 0%;
    text-align: center;
}
ul{
    padding: 0px;
}
ul li{
    background: darkgray;
    color: gray;
    margin-left: 30%;
}