header{
width: 100%;
background-color: #fd1b1b;
}
header img{
    margin-left: 32%;
    width: 35%;
}
header div{
    position: relative;
    margin-top: -7%;
    margin-right: 3%;
}
header div img{

    margin-left: 1%;
    width: 5%;
    display: block;
    float: right;
}
.sub-header{
    margin-top: 10%;
    float: left;
}
ul{
    background: darkgray;
    padding: 20px;
}
ul li{
    background: darkgray;
    color: gray;
    margin: 5px;
}